body { 
	padding-top: 70px;
	padding-bottom: 70px;
}

.row_date {
	font-variant: small-caps;
	font-weight: bold;
	padding: 0px 15px; 
	margin-bottom: 0;
	background-color: #e0e0e0;
}

.row_tasks {
	border-bottom: 1px solid #eeeeee;
}
/* Ne pas faire de hoover pour les appareils tactiles tels que téléphone et tablette */
@media screen {
	.row_tasks:hover {
		background-color: #f5f5f5;
	}
	div.bg-primary:hover {
		background-color: #2196F3; /* bg-primary color*/
	}
}

.ellipsis {
	overflow:hidden; 
	white-space:nowrap; 
	text-overflow:ellipsis;
}

div.strikethrough > * {
    text-decoration: line-through;
}

